@CHARSET "UTF-8";

body{
	background-image: url("http://www.clipartkid.com/images/161/this-is-a-vintage-style-wanted-poster-like-the-kind-from-the-wild-west-5paDff-clipart.png");
	background-attachment : scroll;
   background-size: 1500px 915px;
   background-repeat : no-repeat;
}

form{
	margin: 285px auto;
 	margin-left:200px;
}

button{
    background-color: red;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:800px; top:0px;}
    50%  {background-color:blue; left:800px; top:400px;}
    75%  {background-color:green; left:0px; top:400px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:800px; top:0px;}
    50%  {background-color:blue; left:800px; top:400px;}
    75%  {background-color:green; left:0px; top:400px;}
    100% {background-color:red; left:0px; top:0px;}
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 500px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
}