<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>helloweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- servlet 태그 : 서블릿 객체를 등록하는 태그 -->
  <!-- HelloServlet 객체 등록 -->
  <servlet>
  	<servlet-name>hello</servlet-name> <!-- 그 Class로 만든 객체 이름은 이거야 -->
  	<servlet-class>hello.HelloServlet</servlet-class> <!-- Servlet Class는 이거야 -->
  </servlet>
  <!-- 등록한 HelloServlet을 요청하는 URL등록 -->
  <!-- 사용자(Web Browser)가 /hello URL로 요청하면 이름이 hello인 서블릿 객체가 일한다. -->
  <servlet-mapping>
  	<servlet-name>hello</servlet-name> <!-- Servlet객체 이름을 알려줌. -->
  	<url-pattern>/hello</url-pattern> <!-- /로 시작. - Application Root 경로 --> 
  	<!-- Client가 요청하는 방법은 URL밖에 없으니, Web application을 URL로 요청해서 실행되게끔. -->
  </servlet-mapping>
</web-app>